{% extends 'base.html' %}

{% block head %}


<title>Subscription</title>


{% endblock %}

{% block body %}


<div class="container">

                <h1 style="color:white;"> Subscribe to my Biography</h1>
                </div>
                <br/> <br/>
<div class="col-sm-6">
                    <form action="/thanks" method="POST">
                  <div class="form-group">

                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name" name="first_name">
                  </div>
                <div class="form-group">

                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name" name="last_name">
                  </div>
                        <div class="form-group">

                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address" name="email">
                  </div>
                    <br/>
                  <button type="submit" class="btn btn-secondary">Submit</button>
                </form>
</div>

{% endblock %}
